# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore dev or temp folders
python_stat_test/
src/
notebooks/
scripts/

# Keep clean code
!python/

# CSVs / exports
*.csv

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db
